<a href="https://colab.research.google.com/github/Nkybahibey/data-cleaning-projects/blob/main/Titanic_data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#import
import pandas as pd





#load
data = pd.read_csv('/content/full.csv')

In [ ]:
#view dataset
print(data.describe())

       PassengerId    Survived       Pclass          Age        SibSp  \
count  1309.000000  891.000000  1309.000000  1046.000000  1309.000000
mean    655.000000    0.383838     2.294882    29.881138     0.498854
std     378.020061    0.486592     0.837836    14.413493     1.041658
min       1.000000    0.000000     1.000000     0.170000     0.000000
25%     328.000000    0.000000     2.000000    21.000000     0.000000
50%     655.000000    0.000000     3.000000    28.000000     0.000000
75%     982.000000    1.000000     3.000000    39.000000     1.000000
max    1309.000000    1.000000     3.000000    80.000000     8.000000

             Parch         Fare       WikiId     Age_wiki        Class
count  1309.000000  1308.000000  1304.000000  1302.000000  1304.000000
mean      0.385027    33.295479   658.534509    29.415829     2.291411
std       0.865560    51.758668   380.377373    13.758954     0.840852
min       0.000000     0.000000     1.000000     0.170000     1.000000
25%       0.000000     7.895800   326.750000    21.000000     1.750000
50%       0.000000    14.454200   661.500000    28.000000     3.000000
75%       0.000000    31.275000   987.250000    37.750000     3.000000
max       9.000000   512.329200  1314.000000    74.000000     3.000000

In [ ]:
#identify missing values
missing_values = data.isnull().sum()
print(missing_values)

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
WikiId            5
Name_wiki         5
Age_wiki          7
Hometown          5
Boarded           5
Destination       5
Lifeboat        807
Body           1179
Class             5
dtype: int64

In [ ]:
#handle missing values
data_filled = data.fillna(0)

In [ ]:
#import libraries
import pandas as pd

In [ ]:
#Remove duplicates
data.drop_duplicates(inplace=True)

In [ ]:
print(data.dtypes)

PassengerId      int64
Survived       float64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
WikiId         float64
Name_wiki       object
Age_wiki       float64
Hometown        object
Boarded         object
Destination     object
Lifeboat        object
Body            object
Class          float64
dtype: object

In [ ]:
#convert categorical variables to numeric
data = pd.get_dummies(data, drop_first=True)

In [ ]:
#display transformed data
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Columns: 4744 entries, PassengerId to Body_[66][67]
dtypes: bool(4734), float64(6), int64(4)
memory usage: 6.0 MB
None